.table {
    width: 100%;
    background: var(--blanco);
    border-radius: 14px;
    box-shadow: 0 0 18px var(--sombra);
    border-collapse: collapse;
    overflow: hidden;
}

.table th {
    background: var(--rosa);
    color: white;
    padding: 12px;
}

.table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 12px;
    border: 2px solid var(--rosa-claro);
    margin-bottom: 18px;
}
