.form-box {
    width: 350px;
    background: var(--blanco);
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 0 18px var(--sombra);
}

.form-box input,
.form-box select {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border-radius: 12px;
    border: 2px solid var(--rosa-claro);
}

.form-box label {
    font-size: 14px;
    color: var(--gris);
    font-weight: bold;
}
