<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quintillisas Bots - Login</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body class="bg-login">

    <div class="login-container">
        <h1 class="title">Quintillisas Bots</h1>
        <p class="subtitle">Bienvenida de nuevo 💗</p>

        <form id="loginForm">
            <input type="text" id="user" placeholder="Usuario" required>
            <input type="password" id="pass" placeholder="Contraseña" required>

            <button type="submit" class="btn-login">Ingresar</button>
        </form>

        <p class="register-text">
            ¿No tienes cuenta?
            <a href="register.html">Crear cuenta</a>
        </p>
    </div>

    <script src="../public/js/auth.js"></script>
</body>
</html>
