<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Entrando a Quintillisas Bots...</title>
    <style>
        body {
            background: #f8c8dc;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            font-family: Arial;
        }
        .loader {
            font-size: 20px;
            color: #d9007f;
        }
    </style>

    <script>
        setTimeout(() => { 
            window.location.href = "/views/login.html";
        }, 300);
    </script>
</head>
<body>
    <div class="loader">
        Cargando Quintillisas Bots…
    </div>
</body>
</html>
