<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cuenta - Quintillisas Bots</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body class="bg-login">

    <div class="login-container">
        <h1 class="title">Crear Cuenta</h1>
        <p class="subtitle">Únete a Quintillisas Bots 🌸</p>

        <form id="registerForm">
            <input type="text" id="user" placeholder="Usuario" required>
            <input type="email" id="email" placeholder="Correo" required>
            <input type="password" id="pass" placeholder="Contraseña" required>
            <input type="password" id="pass2" placeholder="Repetir contraseña" required>

            <button type="submit" class="btn-login">Registrarme</button>
        </form>

        <p class="register-text">
            ¿Ya tienes cuenta?
            <a href="index.html">Iniciar sesión</a>
        </p>
    </div>

    <script src="../public/js/auth.js"></script>
</body>
</html>
