@@include('../../layouts/layout.html', {
"title": "Agregar Repositorio",
"content": `
<h2 class="page-section">➕ Agregar Repositorio</h2>

<div class="form-box">

    <label>Nombre del repositorio</label>
    <input type="text" placeholder="Ej: MikuBot MD">

    <label>URL del repositorio (GitHub)</label>
    <input type="text" placeholder="https://github.com/Usuario/Repositorio">

    <label>Descripción</label>
    <textarea placeholder="Bot de WhatsApp con Node.js"></textarea>

    <button class="btn-rosa">Agregar Repositorio</button>

</div>
`
})
